

.wrapper{
    font-family: 'Roboto Mono', monospace;
}
.wrapper {
    position: relative;
    z-index: 1;
    padding-bottom: 20vh;
    min-height: 100vh;
    transition: opacity .5s linear;
}
.wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 50vh;
    bottom: 50vh;
    left: calc(28vw - 2rem);
    z-index: 99;
    width: 1px;
    opacity: .3;
    background: var(--purple) linear-gradient(
180deg
,var(--bg),rgba(var(--bg-rgb),0) 20vh);
}
.spine, .spine-target {
    position: fixed;
    z-index: 2;
}
.spine {
    top: 50vh;
    bottom: 0;
    left: calc(28vw - 2rem);
    width: 1px;
    background: var(--purple) linear-gradient(
0deg
,var(--bg) 1rem,rgba(var(--bg-rgb),0) 20vh);
}
.spine-target {
    top: calc(50vh - 8px);
    left: calc(28vw - 2rem - 4px);
    width: 9px;
    height: 9px;
 
}

.spine-target .circle, .spine-target .pulse {
    position: absolute;
    width: 9px;
    height: 9px;
    transform-origin: center;
    border-radius: 3rem;
    background: transparent;
    border: 1px solid var(--purple);
}
.spine-target .pulse {
    position: absolute;
    width: 9px;
    height: 9px;
    transform-origin: center;
    border-radius: 3rem;
    background: transparent;
    border: 1px solid var(--purple);
}
.my-border{

        background-color: #682ae9;
        width: 1px;
      
        position: fixed;
        right: 70%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
}

.line-extensions{
    background:#682ae9 linear-gradient( 0deg ,#0e1212 1rem,rgba(14,18,18,0) 20vh);
    width: 1px;
    height: 100%;
    position: fixed;
    right: 70%;
    top: 13%;
   
  

}
svg{
    overflow: visible;
}
section{
    min-height: 100vh;
}
.static-container{
 
   
    min-height: 100vh;
    perspective: 900px;
    perspective-origin: 50% 50vh;

}

.title-container, .container{
 


    padding: 0 1rem 0 34vw;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: -1;
    width:100vw;
    height: 100vh;
    perspective: 900px;
    perspective-origin: 50% 50vh;
    visibility: inherit;
    box-sizing: border-box;
   
 
}


/* visibility: hidden; opacity: 0; transform: translate(0%, -50%) 
matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -1, 0, 0, 0, -100, -100, 1); transform-origin: 50% 50% 0px; */
.pulse-circle{
    /* ,width:'15px',opacity:1,height:'15px',borderRadius:'10px',border:'2px solid #682ae9 ' */
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border:2px solid #682ae9;
    box-shadow: 1 1 1 rgba(154, 18, 179, 1);
    animation: pulse 2s ease-in-out;
    animation-delay: 2s;
}

.title{
    display: block;
    color: var(--light);
    font-size: 4rem;
    font-weight: 700;
    word-spacing: -.1em;
    letter-spacing: -.05em;
   
}


.std{
    font-size: 1.2rem;
    /* max-width: 42rem; */

    line-height: 1.5;
    color: var(--std-color);
    word-break: break-word;
}
.my-profile{
    transform: translateX(-50%);
    opacity: 0;
}
.gap{
    height: 25vh;
}
.ball {
    fill: #682ae9;
    visibility: hidden;
  }
  
  .line {
    fill: none;
    stroke: #682ae9;
    stroke-width: 2px;
  }
  text {
    fill: #682ae9;
    font-size: 10px;

    visibility: hidden;
  }
.scene{
    min-height: 100vh;
}

.big{
 
    font-size: 3rem;
    font-weight: 700;
    word-spacing: -.1em;
    letter-spacing: -.05em;
    
    line-height: 1.2;
    
}

.quotes{
    font-size: 2.5rem;
    font-weight: 700;
    word-spacing: -.1em;
    letter-spacing: -.05em;

    line-height: 1.2;
}
.bigger{
    font-size: 3rem;
    font-weight: 700;
    word-spacing: -.1em;
    letter-spacing: -.05em;
    width: 60vw
}


/* svg's container */
  


#smart{
    
        position: absolute;
        left: 5vw;
        bottom: -5vw;
        z-index: -2;
        width: 20vw;
        height: 20vw;
        -webkit-filter: brightness(.7);
        filter: brightness(.7);
    
}
#open {
    position: absolute;
    left: -20vw;
    top: calc(50% - 20vw);
    width: 40vw;
    height: 40vw;
}
 #coffee {
    position: absolute;
    right: 15vw;
    top: 35vh;
    width: 5vw;
    height: 5vw;
   z-index: 1; 
}


 #astro {
    position: absolute;
    right: 0;
    bottom: 35vh;
    width: 20vw;
    height: 20vw;
}
#dino {
    position: fixed;
    right: 0;
    bottom: -4vh;
    z-index: 919;
    width: 50vh;
    height: 50vh;
    
}

/* early days css and clouds */

 .clouds{
   
        position: absolute;
        width: 150vw;
        height:150vh;
        top:50%;
        height:50%;
        transform-origin: 50% 50%;
        background: url('../../Support/Images/clouds-1.png') no-repeat 50%;
        background-size: contain;
        opacity: 0.5;

}



.cloud-1{
    background-image:url('../../Support/Images/clouds-1.png');
    width: 150vw;
    height: 150vh;
    opacity: .5;
}

.cloud-2{
    background-image: url('../../Support//Images/clouds-2.png');
    width: 150vw;
    height: 150vh;
    opacity: 0.5;
}

.cloud-3{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.25;
    background-image: url('../../Support/Images/cloud-3.png');

}

/* ocean and sky */
.pepe-scenery {
    z-index: -1;
}

.pepe-scenery:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(
180deg
,rgba(var(--bg-rgb),1) 40%,rgba(65,96,33,.2) 100%);

}

.pepe-scenery .sky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 102px);
    background: url('../../Support/Images/sky.jpg') no-repeat 0 0;
    background-size: 100% 100%;
}
.pepe-scenery .ocean {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 102px;
    background: url('../../Support/Images/ocean-base.jpg') no-repeat 0 0;
    background-size: 100% 100%;
    overflow: hidden;
}
.pepe-scenery .sky-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: url('../../Support/Images/sky-mask.png') no-repeat 0 0;
    background-size: 100% 100%;
}


.pepe-scenery .ocean-waves {
    opacity: .9;
    position: absolute;
    top: 100%;
    left: -10%;
    width: 120%;
    height: 200%;
    background: url('../../Support/Images/ocean-waves.png') no-repeat 50%;
    background-size: 100% 100%;
}


/* code books video games */

.lines{
    display: block;
}



#dailyroutine .container div{
    position: absolute;
}

#dailyroutine .container .sky_2 {
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: #0497d1 

   
   
  
}
/* linear-gradient(
        180deg
        ,#0497d1 3rem,rgba(4,151,209,0)); */
#dailyroutine .sky_2 .c1 {
    transform-origin: left bottom;
    bottom: 0;
    left: 0;
    width: 45vw;
    height: 50vh;
    background: url('../../Support/Images/cloud1.png') no-repeat 0 bottom;
    background-size: contain;
}


#dailyroutine .sky_2 .c2 {
    transform-origin: right bottom;
    bottom: 0;
    left: 0;
    width: 60vw;
    height: 60vh;
    background: url('../../Support/Images/cloud2.png') no-repeat 100% 100%;
    background-size: contain;
}

/* grass */
.grass1, .grass2{
    bottom:0;
    filter: blur(2px);
}

.grass1 {
    position: absolute;
    transform-origin: left bottom;
    left: 0;
    width: 50vw;
    height: 25vh;
 
    background: url('../../Support/Images/grass1.png') no-repeat 0 bottom;
    background-size: contain;
}

#thanks{
    position: relative;
}
 #thanks:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .3;
    -webkit-mask-image: linear-gradient(
180deg
,transparent 0,#000 10vh);
    mask-image: linear-gradient(180deg,transparent 0,#000 10vh);
    background: url('../../Support/Images/goya.png') no-repeat 0 bottom;
    background-size: auto 100%;
}

#thanks #potion {
    width: 6rem;
    height: 6rem;
}

#thanks .madeof {
    margin-bottom: 20vh;
}

#thanks .cols {
    display: grid;
    grid-template: 1fr/repeat(auto-fit,minmax(150px,auto));
    grid-gap: 2rem;
    color: var(--purple);
    font-size: 1rem;
}
#thanks ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1.5em;
}
#thanks .songs li.ico {
    display: block;
}
#thanks .cols li.ico {
    min-height: 0;
    margin-bottom: 2rem;
}
#thanks .songs li {
    float: left;
    clear: left;
    transition: all .3s ease-out;
    cursor: pointer;
}
.-comment {
    color: var(--comment);
}

/* responsive */
@media screen and (max-width: 1024px){
.std .subtitle, .title {
    margin-right: -4rem;
    font-size: 3.5rem;
}

.quotes{
    font-size: 2rem;
}
.title-container {
    padding-left: 4rem;
}

.spine {
    left: 1rem;
}
.spine-target {
    left: calc(1rem - 4px);
}
.wrapper:after {
    left: 1rem;
}

}

@media screen and (max-width: 568px){
#home .std {
    font-size: 2rem;
}

.std .big {
    font-size: 2rem;
}
.static-container {
    margin: 0 2rem 0 calc(2rem + 1px);
}

.quotes{
    font-size: 2rem;
}

.title {
    white-space: nowrap;
  
        margin-right: -2rem;
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 1.1;
}
.title-container {
    padding: 0 1rem 0 3.5rem;
}
}

@media screen and (max-width: 768px){
.std .big {
    width: 100%;
}
}


/* pulse-animation */
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0  rgba(154, 18, 179, 1);
      box-shadow: 0 0 0 0  rgba(154, 18, 179, 1);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
  }

 
  